#main-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border:1px solid black;
    height:10vh;
    display: flex;
    background-color: #757475;
    color: white;
    font-family: sans-serif;
    align-items: center;
    #rights-text{
        margin-left: 5px;
    }
}